name: iOS AdHoc

on:
  workflow_dispatch:  # Manual trigger

jobs:
  build:
    name: Build iOS App
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Xcode version
        run: sudo xcode-select -s /Applications/Xcode_15.0.app  # or adjust version

      - name: Install xcpretty
        run: gem install xcpretty
#      - name: Install dependencies (if using CocoaPods)
#        run: pod install
#        working-directory: ./YourProjectFolder  # update if needed

      - name: Build and archive .xcarchive
        run: |
          xcodebuild clean -project githubActionsTest.xcodeproj \
            -scheme githubActionsTest \
             -destination 'generic/platform=iOS' \
            -configuration Release \
            -derivedDataPath build/DerivedData

          xcodebuild archive -project githubActionsTest.xcodeproj \
            -scheme githubActionsTest \
            -configuration Release \
            -archivePath build/githubActionsTest.xcarchive \
            -destination 'generic/platform=iOS' \
            -allowProvisioningUpdates

      - name: Export .ipa from archive
        run: |
          cat > ExportOptions.plist <<EOF
          <?xml version="1.0" encoding="UTF-8"?>
          <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          <plist version="1.0">
          <dict>
              <key>method</key>
              <string>ad-hoc</string>  <!-- or app-store / development -->
              <key>signingStyle</key>
              <string>automatic</string>
              <key>stripSwiftSymbols</key>
              <true/>
              <key>compileBitcode</key>
              <false/>
              <key>destination</key>
              <string>export</string>
              <key>manageAppVersionAndBuildNumber</key>
              <true/>
          </dict>
          </plist>
          EOF

          xcodebuild -exportArchive \
            -archivePath build/githubActionsTest.xcarchive \
            -exportOptionsPlist ExportOptions.plist \
            -exportPath build/export

      - name: Upload .ipa as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: build/export/*.ipa
