name: Build and Test (Xcode)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-14

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Select Xcode version
        run: sudo xcode-select -s /Applications/Xcode_15.3.app

      - name: Build project
        run: |
          xcodebuild clean build \
            -project githubActionsTest.xcodeproj \
            -scheme githubActionsTest \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 14,OS=16.4' \
            

      - name: Run tests
        run: |
          xcodebuild test \
            -project githubActionsTest.xcodeproj \
            -scheme githubActionsTest \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 14,OS=16.4' \
            
