name: Build and Test (Xcode)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-14

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Select Xcode version
        run: sudo xcode-select -s /Applications/Xcode_15.3.app

      - name: Install xcpretty
        run: gem install xcpretty

      - name: List available simulators
        run: xcrun simctl list devices
        
      - name: list available macos
        run: xcrun simctl list runtimes

      - name: Build project
        run: |
          xcodebuild \
            -project githubActionsTest.xcodeproj \
            -scheme githubActionsTest \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 15 Pro,OS=17.5' \
            -resultBundlePath TestResults.xcresult \
            clean build | xcpretty

      - name: Run tests
        run: |
          xcodebuild \
            -project githubActionsTest.xcodeproj \
            -scheme githubActionsTest \
            -sdk iphonesimulator \
            -enableCodeCoverage YES \
            -destination 'platform=iOS Simulator,name=iPhone 15 Pro,OS=17.5' \
            test | xcpretty

      - name: Upload .xcresult artifact
        uses: actions/upload-artifact@v4
        with:
          name: TestResults
          path: TestResults.xcresult
